<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/commons.css">
    <style>
        .hide{
            display: none;
        }
        .shadow{
            position:fixed;
            left:0;
            top:0;
            right:0;
            bottom:0;
            background-color: black;
            opacity:0.4;
            z-index: 1200;
        }
        .modal1{
            position:fixed;
            z-index: 1201;
            left: 50%;
            top: 50%;
            height:300px;
            width:400px;
            background-color: white;
            margin-left:-200px;
            margin-top:-150px;
        }
    </style>
</head>
<body>
    <div class="pg-head">
        <div class="logo left">老男孩教育</div>
        <div class="avatar right" style="position:relative">
            <img style="width:50px; height:50px" src="/static/image/3.jpg">
            <div class="userinfo " >
                <a href="">个人资料</a>
                <a href="">注销</a>
            </div>
        </div>
        <div class="rmenus right">
            <a class="fa fa-commenting" aria-hidden="true">消息</a>
            <a class="fa fa-envelope-o" aria-hidden="true">邮件</a>
        </div>
    </div>
    <div class="pg-body">
        <div class="menus">
            <a class="fa fa-address-book" aria-hidden="true" href="">班级管理</a>
            <a class="fa fa-address-book" aria-hidden="true" href="">学生管理</a>
            <a class="fa fa-address-book" aria-hidden="true" href="">老师管理</a>
        </div>
        <div class="content">
            <ol class="breadcrumb">
              <li><a href="#">首页</a></li>
              <li><a href="#">班级</a></li>
              <li class="active">班级管理</li>
            </ol>

            <div>
                <div style="margin:10px 0px">
                    <a class="btn btn-primary" href="/add_class/">添加</a>
                    <a class="btn btn-success" onclick="showmodal();">对话框添加</a>
                </div>

                <div id='shadow' class="shadow hide"></div>
                <div id='modal'  class="modal1 hide">
                        <p>姓名：<input id="title" name="title" type="text"></p>
                        <input type="button" value="提交" onclick="ajaxsend();" />
                        <input type="button" value="取消" onclick="cancelmodal();" />
                        <span id="errormsg"></span>
                </div>

                <div id='editmodal'  class="modal1 hide">
                        <h3>编辑框</h3>
                        <p>姓名：<input id="edittitle" name="title" type="text"></p>
                        <input type="text" id="editid" style="display:none" />
                        <input type="button" value="提交" onclick="editajaxsend();" />
                        <input type="button" value="取消" onclick="cancelmodal();" />

                        <span id="errormsg"></span>
                </div>

                <table class="table table-striped table table-bordered table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>班级名称</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%  for row in class_list %}
                            <tr>
                                <td>{{row.id}}</td>
                                <td>{{row.title}}</td>
                                <td>
                                    <a class="glyphicon glyphicon-pencil" href="/edit_class/?nid={{ row.id }}">编辑</a>
                                    |
                                    <a onclick="modaledit(this)">对话框编辑</a>
                                     <a class="glyphicon glyphicon-trash" href="/del_class/?nid={{ row.id }}"></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script src="/static/jquery.min.js"></script>
                <script>
                    function showmodal() {
                        document.getElementById("shadow").classList.remove('hide');
                        document.getElementById("modal").classList.remove('hide');
                    }
                    function cancelmodal() {
                        document.getElementById("shadow").classList.add('hide');
                        document.getElementById("modal").classList.add('hide');
                        document.getElementById("editmodal").classList.add('hide');
                    }

                    function modaledit(ths){
                        document.getElementById("shadow").classList.remove('hide');
                        document.getElementById("editmodal").classList.remove('hide');

                        var row = $(ths).parent().prevAll();
                        var content = $(row[0]).text();
                        $('#edittitle').val(content);

                        var id = $(row[1]).text();
                        $('#editid').val(id);
                    }

                    function editajaxsend() {
                        var nid = $('#editid').val()
                        var content = $('#edittitle').val()

                        $.ajax(
                            {
                                url:'/modal_edit_class/',
                                type:'POST',
                                data:{'nid':nid,'title':content},
                                success:function(data){
                                    data = JSON.parse(data);
                                    if(data.status){
                                        location.reload();
                                    }else{
                                       alert(data.msg)
                                    }
                                }
                            }
                        )
                    }
                    function ajaxsend() {
                        $.ajax(
                            {
                                url:'/modal_add_class/',
                                type:'POST',
                                data:{'title':$('#title').val()},
                                success: function (data) {
                                    if(data=='OK'){
                                        location.href="/classes/"
                                    } else{
                                        $('#errormsg').text(data)
                                    }

                                }
                            }
                        )
                    }
                </script>
            </div>
        </div>
    </div>
</body>
</html>